# Rust
target/
tarpaulin-report.html
Cargo.lock
*.profraw

# mdbook
book/book
book/.doctest_cache

# Backtest results.
results/

# Mac OS X
.DS_Store

# Environment variables
.env

# Jetbrains IDE
.idea

# Visual Studio Code
.vscode
.VSCodeCounter/
